/*font-family: 'Libre Franklin', sans-serif;*/

#contenidos{
    width: 1300px;
    height: auto;
    margin: auto;
    position: relative;
}
    
/*etiquetas*/


    
body {
    background-color: #005883
}
h1{
    margin-top: 35px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 60px;
    text-align: right;
    margin-right: 145px;
    color: white;
    margin-bottom: 10px;
}

h2{
    margin-left: 180px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 0px;
}
h3{
    margin-top: 15px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #F0B429;
}

header{
    
    background-image: url(../img/UNAD1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200px 145px;
    width: 1300px;
    height: 145px;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;

}
nav{
    text-align: center;
    width: 1300px;
    height: 50px;
    background-color: #F0B429;
    border-radius: 5px;

    margin-bottom: 5px;
    display: block;
    
}
ul{
    
    margin: 0px;
    padding: 0px;
    display: inline-block;
}    
 
 li{ 
    float: left;
    list-style-type: none;
    background-color: #F0B429;
    /*border-radius: 5px;
    box-shadow: 0 0 5px black inset;*/
    width: inherit;
    height: 35px;
    font-size: 25px;
    color: white;
    margin-right: 30px;
    padding-top: 8px;
    padding-bottom: 5px;
    }


 
li ul{
       position: inherit;
       display: none;
       width: 230px;

    }
    
    li ul a{
        font-size: 20px;
    }
li:hover ul{
        display: block;
        
    }

section{
    width: 900px;
    /*background-color: white;*/
    height: 600px;
    float: left;
}
/*clases*/
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

/*color de el texto en el menu desplegable*/
/*----------------------------------------*/
.menu:link{color: white; text-decoration:none}
.menu:visited{color:#024C70; text-decoration:none}    
.menu:hover{ color: #005883;text-decoration:none}
.menu:active{color: white; text-decoration:none}
.menu:focus{color: white; text-decoration:none}

/*seudo clases*/

li:hover{
    background-color: #F0B429;
    
}